html{
    font-size: 90.4%;
    overflow-x: hidden;
}

h1{
    font-size: 3rem;
    font-weight: 900;
   
}
h2{
    
    font-size: 4.4rem;
    font-weight: 300;
    white-space: normal;
    text-align: center;
}
h3{
    font-size: 1.8rem;
    font-weight: 400;

}

p{
    
    opacity: 0.7;
    font-size: 1.65rem;
    line-height: 1.5;
    margin-top: 1rem;
    font-weight: 400;
}
a{
    text-decoration: none;
    color:white;
    
}
li{
    list-style: none;
}
.button {
    text-decoration: none;
    padding: 1.4rem 2.4rem;
    max-width: auto;
    background-color: rgb(98, 84, 243);
    color: rgb(255, 255, 255);
    border: none;
    text-transform: uppercase;
    text-align: center;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3 ease 0s;
    -o-transition: all 0.3s ease 0s;
}


.button:hover,
.button:active{
box-shadow: 0 2rem 2rem 0 rgb(132 144 255 / 30%);

transform: scale(0.96);
}
.containerhero {
  
    position: relative;
    height: 100vh;
    width: 80vw;
    
    
  }
  
  .section-hero-data {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    animation: drop-in 1s forwards;
    width: 90vw;
    height: 50vh;
    background-color: aqua;
    padding-left: 5rem;
  }
  
  @keyframes drop-in {
    0% {
      transform: translate(-50%, -100%);
      opacity: 0;
    }
    100% {
      transform: translate(-50%, -50%);
      opacity: 1;
    }
  }
  
  .herotopdata, .heroheading, .heropara, .button {
    opacity: 0;
    animation: fade-in 1s forwards;
    z-index: 10;
  }
  
  @keyframes fade-in {
    0% {
      opacity: 0;
      transform: translate(0, -20px);
    }
    100% {
      opacity: 1;
      transform: translate(0, 0);
    }
  }
  @media (max-width: 375px) {
    .section-hero-data {
      top: 60%;
    }
    
  }
  @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
    /* Your styles for iPad Mini in portrait orientation */
    .section-hero-data {
        top: 24%;
      }
      
  }
  
  @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
    /* Your styles for iPad Mini in landscape orientation */
    .section-hero-data {
        top: 24%;
      }
      
  }
  @media only screen and (max-width: 414px) {
    /* styles for iPhone XR or devices with similar screen width */
    .section-hero-data {
        top: 40%;
  }
 
}
  @media only screen and (min-device-width: 360px) and (max-device-width: 740px) and (-webkit-device-pixel-ratio: 4) {
    /* CSS styles for Galaxy S8 go here */
    .section-hero-data {
        top: 60%;
 }
 
}
 .heroimg{
  float: right;
 margin-top: 1rem;
 animation: slide-in 1s ease-out forwards;
 }
 @keyframes slide-in {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}
.swiper-slide-next {
  transform: translateX(-5%);
}

.swiper-slide:nth-child(n+2) {
  transform: translate3d(calc(-100% / 3), 0, 0) scale(0.8);
  opacity: 0.8;
}

.swiper-slide:nth-child(n+2):before {
  opacity: 0.6;
}

.swiper-slide-active:nth-child(n+2) {
  transform: translate3d(calc(-50% / 3), 0, 0) scale(0.9);
  opacity: 1;
}

.swiper-slide-active:nth-child(n+2):before {
  opacity: 1;
}

.swiper-slide-active:nth-child(n+2) ~ .swiper-slide {
  transform: translate3d(calc(100% / 3), 0, 0) scale(0.8);
  opacity: 0.8;
}

.swiper-slide-active:nth-child(n+2) ~ .swiper-slide:before {
  opacity: 0.6;
}
.swiper-slide:nth-child(2) {
  transform: translate3d(-150px, 0, -200px) rotateY(-20deg);
  z-index: 3;
}

.swiper-slide:nth-child(3) {
  transform: translate3d(0, 0, -100px);
  z-index: 4;
}

.swiper-slide:nth-child(4) {
  transform: translate3d(150px, 0, -200px) rotateY(20deg);
  z-index: 3;
}

  
  .button{
    margin-left: 20rem;
  }
  .swiper-scrollbar {
    height: 10px;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 10px;
  }
  
  .swiper-scrollbar-drag {
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 10px;
  }
  .swiper-slide-4{
    height: 50vh;
    width: 50vw;
  }
  .swiper-container {
    height: 100vh;
  }
  
 
  @media screen and (max-width: 800px) {
    .herotopdata,.heroheading,.heropara {
      font-size: 20px;
      margin-top:10px;
     
      margin-right: 80px;
    }
    .button{
      margin-left: 6rem;
      margin-top: 1rem;
      
    }
    .heroimg{
      height: 10rem;
      width: 20rem;
      margin-right: 2rem;
      margin-right: 1.4rem;
      margin-top: -5px;

    }
    .swiper-slide-3{
      height: 15rem;
      width: 25rem;
      margin-right: 3rem;
      margin-top: 3rem;
    }
    .swiper-slide-4{
      height: 15rem;
      width: 25rem;
      margin-right: 2px;
      margin-top: 3rem;

    }
    .section-hero-data{
      margin-top: -150px;
      
    }
  }
  @media screen and (max-width: 400px)
  {
    .herotopdata,.heroheading,.heropara {
      font-size: 15px;

    }
  }
  .swiper-slide-4{
    margin-top: 10px;
  }
  